@model IEnumerable<TicketTango.Models.Event>

@{
    ViewData["Title"] = "Home";
}

<h1>Amazin' Events Currently</h1>
<h2>@TempData["LogoutMsg"]</h2>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Location)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DateOfEvent)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AvailableSeats)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TicketPrice)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Location)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DateOfEvent)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.AvailableSeats)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TicketPrice)
                </td>
            </tr>
        }
    </tbody>
</table>
