@model IEnumerable<TicketTango.Models.Event>

@{
    ViewData["Title"] = "Home";
}

<h1>Amazin' Events Currently</h1>
<h2>@TempData["LogoutMsg"]</h2>
<h2>@TempData["message"]</h2>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Location)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DateOfEvent)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AvailableSeats)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TicketPrice)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Location)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DateOfEvent)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.AvailableSeats)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TicketPrice)
                </td>
                <td>
                    <form asp-controller="TicketBooking" asp-action="BookTicket" method="get">
                        <input type="hidden" name="userID" value="@Context.Session.GetInt32("UserID")" />
                        <input type="hidden" name="eventID" value="@Html.DisplayFor(modelItem => item.ID)" />
                        <input type="number" name="quantity" placeholder="How much?" required />
                        <button type="submit" class="btn btn-primary">Book Tix</button>
                    </form>
                </td>
            </tr>
        }
    </tbody>
</table>
