@model IEnumerable<TicketTango.Models.Event>

@{
    ViewData["Title"] = "SearchEvent";
}

<h1>SearchEvent</h1>
<h2>@TempData["EventNotFound"]</h2>

<div class="container">
    <div class="row row-cols-1 row-cols-md-2 g-4">
        @foreach (var item in Model)
        {
            <div class="col">
                <div class="card">
                    <img src="https://i.pinimg.com/originals/92/7c/8b/927c8b18eb5b5536d6caa346e3a75b29.png" class="card-img-top" alt="Event Image">
                    <div class="card-body">
                        <h5 class="card-title">
                            @Html.DisplayFor(modelItem => item.Name)
                        </h5>
                        <p class="card-text">
                            @Html.DisplayNameFor(model => model.Location) :
                            <b>
                                @Html.DisplayFor(modelItem => item.Location)
                            </b>
                        </p>
                        <p class="card-text">
                            @Html.DisplayFor(modelItem => item.DateOfEvent)
                        </p>
                        <p class="card-text">
                            @Html.DisplayFor(modelItem => item.AvailableSeats) seats available currently!
                        </p>
                        <p class="card-text">
                            ₹ @Html.DisplayFor(modelItem => item.TicketPrice)
                        </p>
                        <form asp-controller="TicketBooking" asp-action="BookTicket" method="get">
                            <input type="hidden" name="userID" value="@Context.Session.GetInt32("UserID")" />
                            <input type="hidden" name="eventID" value="@Html.DisplayFor(modelItem => item.ID)" />
                            <input type="number" name="quantity" placeholder="How much?" required />
                            <button type="submit" class="btn btn-primary">Book Tix</button>
                        </form>
                    </div>
                </div>
            </div>
        }
    </div>
</div>
