@model TicketTango.ViewModels.BookingViewModel

@{
    ViewData["Title"] = "BookTicket";
    var eventDetails = ViewBag.EventDetails as Event;
}

<div class="container text-white">
    <div class="row">
        <div class="form-box">
            <h1>Book Ticket</h1>
            <br />
            <hr style="color: white;" />
            <h2>Event Details: </h2>
            <div>
                <label>Event Name: </label>
                <span>@eventDetails.Name</span>
            </div>
            <div>
                <label>Location: </label>
                <span>@eventDetails.Location</span>
            </div>
            <div>
                <label>Date of Event: </label>
                <span>@eventDetails.DateOfEvent.ToString("MMMM dd, yyyy")</span>
            </div>
            <div>
                <label>Per Ticket Price: </label>
                <span>₹ @eventDetails.TicketPrice</span>
            </div>
            @if (eventDetails.AvailableSeats > 0)
            {
                <div>
                    <label>
                        <b><span>@eventDetails.AvailableSeats</span></b>
                        Seats are available!
                    </label>

                </div>
            }
            <br />
            <hr style="color: white;" />
            <form asp-action="BookTicket" class="mb-3">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <input type="hidden" asp-for="UserID" class="form-control" asp-items="ViewBag.UserID"></input>
                <input type="hidden" asp-for="EventID" class="form-control" asp-items="ViewBag.EventID"></input>
                <div class="form-group">
                    <label asp-for="Quantity" class="control-label"></label>
                    <input asp-for="Quantity" class="form-control" readonly />
                    <span asp-validation-for="Quantity" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="TotalCost" class="control-label">Total Bill</label>
                    <div class="input-group">
                        <span class="input-group-text" id="basic-addon1">₹</span>
                        <input asp-for="TotalCost" class="form-control" aria-describedby="basic-addon1" readonly />
                    </div>
                    <span asp-validation-for="TotalCost" class="text-danger"></span>
                </div>
                <br />
                <div class="form-group">
                    <input type="submit" value="Let's book it!" class="btn btn-primary" />
                </div>
            </form>
            <div>
                <a asp-controller="Home" asp-action="Index">Back to Events Home</a>
            </div>
        </div>
    </div>
</div>
